*.exe
*.exe?
*.pprof
*.png
*.gif
*.svg
*.gocache
tune/cleanRaw.epd
tune/results.pgn
tune/results.epd
# Local build artifact
goalaric
# Ignore generated/train/test datasets
*.epd
tune/cleanRaw.epd
tune/results.pgn
tune/results.epd
goalaric
movetime_results.txt
perft_results.txt
temp.txt
bin/*
search.log
